* {
  box-sizing: border-box;
}

html {
  font: 1.2em/1.4 Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0 0 1em;
}

.site-header {
  background-color: #23395B;
  color: #fff;
  border: 3px solid #406E8E;
  max-width: fit-content;
}

.site-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-header a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  border-top: 1px solid #999;
}

.site-header .title {
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  padding: 1em;
}

main {
  padding: 0 1em;
}

.intro-box {
  background-color: #23395B;
  color: #fff;
  border: 3px solid #406E8E;
  padding: 1.5em;
  max-width: 700px;
  width: fit-content;
  
}


.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards li {
  border: 5px solid #8EA8C3;
  margin-bottom: 1em;
  background: white;
}

.cards h2 {
  background-color: #8EA8C3;
  color: #fff;
  margin: 0;
  padding: 0.5em 1em;
}

.cards .inner {
  padding: 1em;
}

@media screen and (min-width: 60em) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

  .site-header ul {
    display: flex;
  }

  .site-header li {
    margin: 0;
  }

  .site-header a {
    border: 0;
  }

  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin-top: 20px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
